<ion-grid class="ion-padding">
    <ion-toolbar>
        <ion-title class="ion-no-padding">Add students</ion-title>
    </ion-toolbar>
    <!-- <h3>Add students</h3> -->
    <!-- <ion-card class="ion-padding"> -->
    <form [formGroup]="studentsForm" (ngSubmit)="createStudents()" class="form-inline mb-4">
        <label class="sr-only" for="Name">Name</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" formControlName="name" placeholder="name">
        </div>

        <label class="sr-only" for="Address">Address</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" formControlName="address" placeholder="Address">
        </div>
        <label class="sr-only" for="Email">Email</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
        </div>

        <label class="sr-only" for="dob">D.O.B</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="date" class="form-control" (change)="calculateAge()" formControlName="dob" placeholder="dob">
        </div>

        <label class="sr-only" for="Age">Age</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" formControlName="age" placeholder="Age" readonly>
        </div>



        <button type="submit" class="btn btn-primary mb-2">Add students</button>
    </form>
    <!-- </ion-card> -->
</ion-grid>