<h3>Customers</h3>
<table class="table table-hover " style="width: 100%;">
    <thead>
        <tr class="">
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Age</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td colspan="5" class="alert alert-danger"></td>
        </tr> -->
        <tr>
            <tr *ngFor="let student of students$ | async | paginate: { itemsPerPage: 5, currentPage: cp ,totalItems:totalStudents}">
                <td scope="row">{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.age}}</td>
                <td>{{student.dob | date}}</td>
                <td>
                    <ion-button type="button" color="primary" (click)=editStudent(student)>edit</ion-button>
                    <br>
                    <ion-button type="button" color="primary" (click)=deleteStudent(student)><i class="fa fa-delete"></i>delete</ion-button>
                </td>
            </tr>
            <tr>
                <pagination-controls (pageChange)="cp = $event" [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>

            </tr>
    </tbody>
</table>